.instructionButton{
    top:0; 
    left:0;
    font-size: large;
    background-position: top; 
    height: 1.25em; 
    background-color: #3e698800; 
    position: absolute; 
    padding: 0.3125em; 
    cursor: pointer; 
    border-radius: 0.25em; 
    border: none;
}
.instructionButton p {
    position: relative;
    margin: 0;
    top: -8; 
    color: #f0f8ff75;
}
.button-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    width: 100%;
}
form button[type="submit"], #labelFile {
  background-color: rgb(124 172 208);
  color: #fff;
  border: none;
  border-radius: 0.25em;
  margin: 0.3125em;
  padding: 0.625em 1.25em;
  font: "Arial";
  font-size: 1.125em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.newlogin, .feedback {
    width: 4vw;
    height: 4vw;
    margin-left: 3%;
    border-radius: 0.9375em;
    background-color: aliceblue !important;
    vertical-align: bottom; background-repeat: no-repeat; background-size: 75% auto; background-position: center; position: absolute; top: 20%; 
}

.newlogin {
    background-image: url(/images/newlogin.png);
    right: 25%;
}

.feedback {
    background-image: url(/images/feedback.png);
    right: 5%;
}

#trashFormModalButton > img {
    position:relative;
    bottom:0.3em
}

form button[type="submit"]:hover,
.modalButton:hover,
.backButton:hover {
  background-color: rgb(80, 130, 168);
}
.backButton{
    background-color: rgb(93, 155, 201);
    color: #fff;
    border: none;
    border-radius: 0.25em;
    margin: 0.3125em;
    padding: 0.625em 1.25em;
    font: "Arial";
    font-size: 1.125em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.delfile{
    margin-left: auto;
}
.menu button {
    position: relative;
    cursor: pointer;
    background-color: #ffffff; /* Цвет фона */
    border: 0.01rem solid rgb(197, 197, 197); /* Без границ */
    display: block;
    font-size: 0.875em;
    padding: 0.15em 0.15em; /* Отступы */
    text-align: left;
    width: 100%; /* Ширина кнопки */
}
.menu button:hover {
    background-color: #ebebeb;
}
.pagination-btn{
    background-color: white;
    border: outset;
}
.clear-trash-btn{
    background-color: white;
    border: outset;
    margin-top: 1em;
    margin-bottom: 1em;
}
.restoreBtn, .delFile{
    background-color: white;
    border: none;
    cursor: pointer;
    float: right;
}
.delfile{
    margin-left: auto;
}
.claster {
    display: flex;
    align-items: center;
    position: relative;
}
.openFolder {
    border: none;
    background: none;
}
.modalButton, .instructionButton, .centerButtons, .fullscreen, .image-container {
    user-select: none;
}

#home {
    user-select: none;
}